/* CSS declarations go here */

.panel-heading{
	/*background-color: #d9edf7 !important;*/
}

body{
	font-family: 'Lato', sans-serif !important;
	font-size: 18px;
}

.panel-primary > .panel-heading{
	background-color: rgba(51,122,183,.9);
}

.panel-green .panel-heading{
	background-color: rgba(92,184,92,.9)
}

h1.page-header {
    margin: 10px 0;
}

.chart-sub{
	font-size: 12px;
	margin-top: 10px;
}

.navbar{
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #777;
    font-size: 32px;
    color: #3573a9;
}

.fa-fw{
    margin-right: 10px;
}

h1.page-header{
	opacity: .7
}

.panel-default > .panel-heading {
    font-size: 20px;
    opacity: .7;
}

.page-header{
	padding: 20px 0;
	margin: 0;
	font-size: 32px;
	border-bottom-width: 3px;
}